<section class="mb-8">
    <div>
        <h3 class="text-2xl font-bold">{{ site.Data.cv.about.name }}</h3>
        <p class="text-xl text-gray-600">{{ site.Data.cv.about.title }}</p>
        <div class="flex space-x-4 mt-2">
            {{ with site.Data.cv.about.email }}
            <a href="mailto:{{ . }}" class="text-blue-500 hover:underline">{{ . }}</a>
            {{ end }}
            {{ if and (isset site.Data.cv.about "email") (isset site.Data.cv.about "phone") }}<span>|</span>{{ end }}
            {{ with site.Data.cv.about.phone }}
            <a href="tel:{{ . }}" class="text-blue-500 hover:underline">{{ . }}</a>
            {{ end }}
            {{ if and (isset site.Data.cv.about "phone") (isset site.Data.cv.about "website") }}<span>|</span>{{ end }}
            {{ with site.Data.cv.about.website }}
            <a href="http://{{ . }}" class="text-blue-500 hover:underline">{{ . }}</a>
            {{ end }}
        </div>
        <div class="flex space-x-4 mt-4">
            {{ with site.Data.cv.about.google_scholar }}
            <a href="{{ . }}" class="text-gray-500 hover:text-blue-500">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M5.242 13.769L0 9.5L12 0l12 9.5l-5.242 4.269C17.548 11.249 14.978 9 12 9s-5.548 2.249-6.758 4.769zM12 10c-1.654 0-3 1.346-3 3s1.346 3 3 3s3-1.346 3-3s-1.346-3-3-3z"/>
                </svg>
            </a>
            {{ end }}
            {{ with site.Data.cv.about.github }}
            <a href="{{ . }}" class="text-gray-500 hover:text-blue-500">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.477 2 12c0 4.418 2.865 8.168 6.839 9.492.5.092.682-.217.682-.482 0-.237-.009-.868-.014-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.031-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.378.203 2.398.1 2.651.64.7 1.03 1.595 1.03 2.688 0 3.848-2.338 4.695-4.566 4.942.359.308.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.001 10.001 0 0022 12c0-5.523-4.477-10-10-10z" clip-rule="evenodd"/>
                </svg>
            </a>
            {{ end }}
        </div>
        <div class="mt-4 prose max-w-none">
            {{ .Site.Data.cv.about.summary | markdownify }}
        </div>
    </div>
</section> 