<section class="mb-8">
    <h2 class="text-3xl font-bold mb-4 border-b-2 border-gray-300 pb-2">Skills</h2>
    <div>
        {{ range site.Data.cv.skills }}
        <div class="mb-4">
            <h3 class="text-xl font-bold">{{ .category }}</h3>
            <ul class="flex flex-wrap mt-2">
                {{ range .items }}
                <li class="bg-gray-200 text-gray-800 text-sm font-medium mr-2 mb-2 px-2.5 py-0.5 rounded">{{ . }}</li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
</section> 