<section id="education" class="mb-8">
    <h2 class="text-2xl font-bold mb-4 border-b-2 border-gray-300 pb-2">Education</h2>
    <div class="space-y-4">
        {{ range .Params.education }}
        <div class="mb-4">
            <div class="flex items-baseline">
                <h3 class="text-lg font-bold">{{ .degree }}</h3>
                <span class="flex-1 border-b border-dotted border-gray-200 mx-2"></span>
                <p class="text-gray-600">{{ .period }}</p>
            </div>
            <p class="text-base text-gray-800">{{ .institution }}</p>
        </div>
        {{ end }}
    </div>
</section> 